.hl-command { color: #ffffff; font-weight: bold; }
.hl-selector { color: #707070; }
.hl-item { color: #bebebe; }
.hl-number { color: #bababa; }
.hl-comment { color: #5e5e5e; font-style: italic; }
.hl-error { color: #3b3b3b !important; text-decoration: underline wavy #9e0000; cursor: help; }
