/* how to use this in other files */
/* put <link rel="stylesheet" href="https://xyztoast.github.io/theme.css"> into the <head> of the html file */



/* mcfont */
    @font-face {
      font-family: 'mcfont';
      src: url('https://mcbcode.com/theme/font/mcfont.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }

    /* mcfontb */
    @font-face {
      font-family: 'mcfontb';
      src: url('https://mcbcode.com/theme/font/mcfontb.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }


/* fira code import */
    @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

/* ubuntu import */
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* inconsolota import */
    @import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
  font-family: 'mcfont', sans-serif;
}

body {
  background-color: #0c0c0c;
}

body::selection {     
  background: #05ee9340 !important;
}

g {
  color: #05ee93 !important;
  font-family: inherit !important;
}

opacity {
    opacity: 0.5;
}

c {
  color: #e7007b !important;
}

br {
    user-select: none;
}
h1 {
  font-family: 'mcfontb' !important;
}
h2 {
  font-family: 'mcfontb' !important;
}
h3 {
  font-family: 'mcfontb' !important;
}
h4 {
  font-family: 'mcfont' !important;
}
p {
  font-family: 'mcfont';
}
input {
  font-family: 'mcfont' !important;
}
button {
  font-family: 'mcfont';
}

.code-area, .highlight-layer {
  font-family: monospace !important;
}
