/* how to use this in other files */
/* put <link rel="stylesheet" href="https://xyztoast.github.io/theme.css"> into the <head> of the html file */

    @font-face {
      font-family: 'mcfont';
      src: url('https://mcbcode.com/theme/font/mcfont.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
    @font-face {
      font-family: 'mcfontb';
      src: url('https://mcbcode.com/theme/font/mcfontb.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }

* {
  font-family: 'mcfont', sans-serif;
}

body {
  background-color: #0c0c0c;
}

body::selection {     
  background: #05ee9380 !important;
}

g {
  color: #05ee93 !important;
  font-family: inherit !important;
}

c {
  color: #e7007b !important;
}

h1 {
  font-family: 'mcfontb' !important;
}
h2 {
  font-family: 'mcfontb' !important;
}
h3 {
  font-family: 'mcfontb' !important;
}
h4 {
  font-family: 'mcfont' !important;
}
p {
  font-family: 'mcfont';
}
input {
  font-family: 'mcfont' !important;
}
button {
  font-family: 'mcfont';
}

.code-area, .highlight-layer {
  font-family: monospace !important;
}
