/* how to use this in other files */
/* put <link rel="stylesheet" href="https://xyztoast.github.io/theme.css"> into the <head> of the html file */

    @font-face {
      font-family: 'mcfont';
      src: url('https://xyztoast.github.io/mcfunction/theme/font/mcfont.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }
    @font-face {
      font-family: 'mcfontb';
      src: url('https://xyztoast.github.io/mcfunction/theme/font/mcfontb.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
    }

* {
  font-family: 'mcfont', sans-serif;
}

body {
  background-color: #0c0c0c;
}

body::selection {     
  background: #05ee9380;
}

g {
  color: #05ee93;
}

c {
  color: #e7007b;
}

h1 {
  font-family: 'mcfontb';
}
h2 {
  font-family: 'mcfontb';
}
h3 {
  font-family: 'mcfontb';
}
h4 {
  font-family: 'mcfont';
}
p {
  font-family: 'mcfont';
}
input {
  font-family: 'mcfont';
}
button {
  font-family: 'mcfont';
}
textarea {
  font-family: 'mcfont';
}
